#  Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd
*.pkl
*.h5
*.hdf5

#  Environnement virtuel
.env/
.venv/
env/
venv/
ENV/
*.env

#  Jupyter Notebook checkpoints
.ipynb_checkpoints

#  Dossiers de données et de sortie
.history/
data/
datasets/
logs/
*.csv
*.tsv
*.log

#  MLflow artifacts et tracking
mlruns/
mlartifacts/
mlflow.db
confusion_matrix.png

#  Fichiers modèles
model/
models/*
!models/.gitkeep
model_finetuned/
saved_model/
*.pb
*.tflite

#  TensorBoard
events.out.tfevents.*

#  Cache & IDE
*.DS_Store
*.idea/
.vscode/
.cache/
dist/
build/

# Rapports et figures générés
reports/*
!reports/.gitkeep
!reports/figures/
!reports/figures/.gitkeep



#  OS / fichiers temporaires
*.swp
*.bak
*.tmp
Thumbs.db
